<div id="content">
	<h1>Duente_1</h1>
	<div class="questions-duente-1">
		<%@questions_d1.each_with_index do |q, i|%>
		<div class="question">
			<%=raw q%>
		</div>
		<%end%>
	</div>
	<h1>Duente_2</h1>
	<div class="questions-duente-2">
		<%@questions_d2.each_with_index do |q, i|%>
		<div class="question">
			<%=raw q%>
		</div>
		<%end%>
	</div>
	<h1>Duente_3</h1>
	<div class="questions-duente-3">
		<%@questions_d3.each_with_index do |q, i|%>
		<div class="question">
			<%=raw q%>
		</div>
		<%end%>
	</div>
</div>