// Place all the styles related to the uri-query controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
	padding: 20px 0;
}

.boxes {
	display: inline;
}

.box {
	margin-top: 10px;
	border: 2px solid blue;
	width: 30%;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
}

.box .name {
	padding-bottom: 7px;
	border-bottom: 2px solid red;
}

.box .submissions {
	border-bottom: 2px solid green;
}
.box .tried {
	border-bottom: 2px solid green;
}
.box .sovled {
	border-bottom: 2px solid green;
}
.box .first-submission {
	border-bottom: 2px solid green;
}
