<!DOCTYPE html>
<html>
<head>
  <title>CpLookup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
  <div class='container'>
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Contact</a>
  </div>
</nav>

<%= yield %>

</body>
</html>
